@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body, html {
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFF;
  background: rgb(31, 35, 60);
  background: -moz-linear-gradient(top, rgba(31, 35, 60, 1) 0%, rgba(67, 71, 147, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(31, 35, 60, 1)), color-stop(100%, rgba(67, 71, 147, 1)));
  background: -webkit-linear-gradient(top, rgba(31, 35, 60, 1) 0%, rgba(67, 71, 147, 1) 100%);
  background: -o-linear-gradient(top, rgba(31, 35, 60, 1) 0%, rgba(67, 71, 147, 1) 100%);
  background: -ms-linear-gradient(top, rgba(31, 35, 60, 1) 0%, rgba(67, 71, 147, 1) 100%);
  background: linear-gradient(to bottom, rgba(31, 35, 60, 1) 0%, rgba(67, 71, 147, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1f233c', endColorstr='#434793',GradientType=0);
}

.container {
  margin: 0 auto;
  margin-top: 100px;
}

.graph {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.sleep-good {
  fill: #2de4e3;
}

.sleep-bad {
  fill: #ff666f;
}

.sleep-medium {
  fill: #6f5df6;
}

.start-time, .end-time {
  letter-spacing: 0.1em;
  font-size: 0.75em;
}

.axis {
  shape-rendering: crispEdges;

  path {
    fill: none;
    stroke: rgba(152, 175, 197, 0.7);
  }

  text {
    fill: #FFF;
    font-size: 0.8em;
    letter-spacing: 0.1em;
  }

  .x-axis-title {
    letter-spacing: 0.45em;
  }

}

.title {
  font-weight: 300;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  margin-bottom: 2.5em;
}

.legend {
  text-align: center;
  font-size: 0.85em;
  letter-spacing: 0.02em;
  margin-bottom: 40px;

  .bloq {
    display: inline-block;
    padding: 8px 20px;
    padding-bottom: 10px;
  }

  .bloq + .bloq {
    margin-left: 4px;
  }

  .blue {
    background-color: #2de4e3;
  }

  .purple {
    background-color: #6f5df6;
  }

  .red {
    background-color: #ff666f;
  }
}